/* GLOBAL STYLES */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #292929;
}

/* Navbar */

.navbar-brand {
  color: #292929;
}

.navbar-dark .navbar-nav .nav-link {
  color: #292929;
}

.btn-outline-success {
  color: #292929;
  border-color: #292929;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #292929;
  border-color: #292929;
}

/* CAROUSEL */

.carousel-item {
  height: 30rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
